@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
@import './home.scss';
@import './call.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

